body {
  padding: 0;
  margin: 0;
}

#teams .team {
  transition: all 0.1s linear;
}

#blue {
  float: left;
  height: 100%;
  width: 50%;
  background: #5b90ab;
}

#red {
  float: left;
  height: 100%;
  width: 50%;
  background: #ab5b5b;
}
